<mat-card>
  <form (submit)="onAddPost(postForm)" #postForm="ngForm">
    <mat-form-field>
      <input
        matInput
        placeholder="Title"
        type="text"
        name="title"
        ngModel
        required
        minlength="3"
      />
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Date" type="text" name="date" ngModel />
    </mat-form-field>
    <mat-form-field>
      <textarea
        matInput
        color="primary"
        name="description"
        ngModel
        rows="6"
        required
        placeholder="Description"
        minlength="5"
      ></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">
      Insert Post-It
    </button>
  </form>
</mat-card>
