<mat-card>
  <mat-form-field>
    <p>Title</p>
    <hr />
    <input matInput type="text" [(ngModel)]="enteredTitle" />
  </mat-form-field>
  <mat-form-field>
    <p>Date</p>
    <hr />
    <input matInput type="text" [(ngModel)]="enteredDate" />
  </mat-form-field>
  <mat-form-field>
    <p>Description</p>
    <hr />
    <textarea
      matInput
      color="primary"
      [(ngModel)]="enteredContent"
      rows="6"
    ></textarea>
  </mat-form-field>
  <button mat-raised-button color="primary" (click)="onAddPost()">
    Insert Post It
  </button>
</mat-card>
