body {
  background-color: rgb(230, 230, 230);
  background-size: cover;
  background-attachment: fixed;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f1f1f1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  max-width: 40%;
  margin: 0 auto;
  margin-top: 30px;
  padding: 20px;
}

button {
  margin-top: 20px;
}

.navbar {
  background-color: #1972c0;
}

.navbar-brand {
  color: white;
  font-weight: 500;
  font-size: x-large;
}
